[Unit]
Description=Remove fedora apps
ConditionPathExists=/var/lib/flatpak/.fedora-initialized
ConditionPathExists=/var/lib/flatpak/.flathub-repo-initialized
ConditionPathExists=!/var/lib/flatpak/.flathub-apps-initialized
After=flatpak-add-flathub-repo.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak uninstall --all --noninteractive
ExecStartPost=-/usr/bin/flatpak --system remote-delete --force fedora
ExecStartPost=-/usr/bin/flatpak --system remote-delete --force fedora-testing
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flathub-apps-initialized

[Install]
WantedBy=multi-user.target

#/bin/sh -c 'flatpak --system install --noninteractive --reinstall flathub $(flatpak --system list --columns=application | tail -n +1)' This kind of works, but the fedora specific flatpaks have no name in flathub repo. How we can remove those 4 is unclear atm. since we install everything later, and only keep 3-4 default apps, this is easier for now, but not as "pretty".
